<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style_hangman.css"/>
    <title>Hangman</title>
    <link rel="icon" href="/hangman/assets/logo/logopage.png">
</head>
<body>
    {{template "header"}}
    <div class="couleur">
        <div class="container1"><div class="item1">
                {{template "variable" .}}
                {{template "lecture" .}}
        </div>
        <div class="item2">
            {{template "faute" .}}
        </div>
    </div>
    {{template "footer"}}
</body>
</html>