{{define "faute"}}{{if eq .Faute 0}}
<div class="dessin0"></div>
{{end}}{{if eq .Faute 1}}
<div class="dessin1"></div>
{{end}}{{if eq .Faute 2}}
<div class="dessin2"></div>
{{end}}{{if eq .Faute 3}}
<div class="dessin3"></div>
{{end}}{{if eq .Faute 4}}
<div class="dessin4"></div>
{{end}}{{if eq .Faute 5}}
<div class="dessin5"></div>
{{end}}{{if eq .Faute 6}}
<div class="dessin6"></div>
{{end}}{{if eq .Faute 7}}
<div class="dessin7"></div>
{{end}}{{if eq .Faute 8}}
<div class="dessin8"></div>
{{end}}{{if eq .Faute 9}}
<div class="dessin9"></div>
{{end}}{{if eq .Faute 10}}
<div class="dessin10"></div>
{{end}}{{end}}