{{define "header"}}
<link rel="stylesheet" href="./static/style_header.css" />
<link rel="stylesheet" href="./static/style_index.css" />
<link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&family=Roboto&display=swap" rel="stylesheet">
<header class="haut">
    <div class="logo">
        Hangman
    </div>
    <div class="home">
        <a class="lien" href="http://localhost:8000">Home</a>
        <a class="lien" href="http://localhost:8000/credit">Credit</a>
    </div>
</header>
{{end}}